alias pbcopy='xclip -selection clipboard'
alias pbpaste='xclip -selection clipboard -o'


alias reloadtools="cat ~/.tool-versions | cut -d' ' -f1 | grep '^[^\#]' | xargs -i asdf plugin add  {}; asdf install;"
